<div class="container bg-light p-3">

<%= render @post %>

<div class="text-black">
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>
  </div>
  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
</div>
