body {
    background-image: url("pitch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.page-nav{
    background: #ddd;
    margin-bottom: 20px;
}

#form {
    background-color: #ddd;
    text-align: center;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
 align-items: center;
}


#topnav{
    margin-top: 10px;
}

#topnav li{
    display: inline;
    padding: 5px 8px;
}

#site-title {
    font-size: 22px;
    margin-top: 10px;
    color: #000;
}

#footer {
    color: #fff;
}
